<% include ./partials/header %>

<div class="container">
    <h1>Profile Page</h1>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        
      </div>
    </div>
</div>


<% include ./partials/footer %>